#webgl {
  width: 800px;
  height: 600px;
  position: absolute;
  z-index: -1;
}

#webgl2 {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 2;
}

#bg-box {
  width: 802px;
  height: 602px;
  position: absolute;
  z-index: -1;
}

.svg-box {
  width: 800px;
  height: 600px;
  position: absolute;
  z-index: 1;
}

.svg-box #robot {
  cursor: pointer;
}

.animated-robot-container {
  margin: 0 auto; /* Center horizontally */
  position: absolute;
  width: 1000px;
  height: 800px;
  align-items: right;
  display: flex;
  justify-content: right;
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .animated-robot-container {
    width: 100%;
    max-width: 800px;
    height: auto;
    transform: scale(0.8);
    margin-top: -40px; /* Adjust overlap with text on mobile */
  }
}