#contact {
  max-width: 500px;
  margin: 0 auto 60px auto;
  
}

.contact-form {
  max-width: 500px;
  margin: 0 auto 20px auto;
  padding: 32px;
  background: #010610;
  border-radius: 16px;
  box-shadow: var(--shadow-box);
}

.contact-textarea {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  resize: vertical;
  background: #101224;
  color: var(--off-white);
}

.contact-actions {
  margin-top: 12px;
  text-align: right;
}

.contact-send-btn {
  background: var(--off-white);
  color: var(--navy);
  border: none;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition);
}

.contact-send-btn:hover {
  background: var(--green-bright);
  filter: var(--drop-shadow);
  transition: var(--transition);
}

.contact-rectangle {
  margin-top: 24px;
  color: var(--off-white);
  text-align: center;
  line-height: 0.8;
}

.contact-email {
  color: var(--off-white) !important;
  text-decoration: none;
  font-weight: bold;
}

.contact-email:hover {
  color: var(--green-bright) !important;
  filter: var(--drop-shadow);
  transition: var(--transition);
}