#credits {
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.ending-credits {
  font-family: Inter, sans-serif;
  color: var(--green-bright);
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding-bottom: 40px;
}

.ending-credits a {
  color: var(--green-bright) !important;
  text-decoration: underline;
  font-family: inherit;
}
