.directory-sidebar {
  max-width: 200px;
  background: var(--color-select);
  box-shadow: var(--shadow);
  padding: .7rem 0.2rem;
  display: flex;    
  flex-direction: column;
  overflow: auto;
  z-index: 3000;
}

.directory-box {
  display: flex;
  background: var(--color-hover);
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.12);    
  overflow: hidden;
  min-height: 350px;
}

.directory-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.directory-tree {
  list-style: none;
  padding: 5px 0;
  margin: 10px;
  height: 500px;
  border-radius: 10px;
  background: var(--color-select);

}

.directory-folder {
  cursor: pointer;
  padding: 0.3rem 0.7rem 0.3rem 0.2rem;
  padding-right: 1rem;
  border-radius: 10px;
  font-size: 14px;
  color: var(--lightest-slate);
  font-family: "NTR", sans-serif;
  user-select: none;
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  transition: background 0.2s;
}

.directory-folder.open:hover {
  background: var(--color-hover);
  color: var(--green-bright);
}

.directory-files {
  list-style: none;
  padding-left: 1.2rem;
  padding-right: .7rem;
  margin: 0.1rem 0 0.5rem 0;
}

.directory-file-btn {
  background: none;
  border: none;
  color: var(--lightest-slate);
  text-align: left;
  width: 100%;
  padding: 0.2rem 0.7rem 0.2rem 1rem;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  font-family: "NTR", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  transition: background 0.2s, color 0.2s;
}

.directory-file-btn.active,
.directory-file-btn:hover {
  background: var(--color-hover);
  color: var(--green-bright);
}

.directory-folder,
.directory-file-btn {
  white-space: normal;
  align-items: center;
}

.directory-folder svg,
.directory-file-btn svg {
  flex-shrink: 0;
}