.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.intro-content {
  width: 800px;
  padding-right: 20px;
  z-index: 10;
}

.intro-animation {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.intro-buttons {
  display: flex;
  margin-top: 30px;
}

.button-icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.outline-button {
  padding: 14px 26px;
  background-color: transparent;
  border: 1.5px solid var(--green-bright);
  border-radius: 4px;
  color: var(--green-bright);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: var(--transition);
}

.typist-content {
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.1;
  position: relative;
  display: flex;
  align-items: center;
}

.windmill-cursor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
}

.windmill-cursor svg {
  width: 140%;
  height: 140%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.intro-title {
  color: var(--lightest-slate);
  font-family: "NTR", sans-serif;
  font-weight: 200;
  font-size: 56px;
}
.intro-name {
  font-family: "NTR", sans-serif;
  background: var(--anchor-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 60px;
}

.intro-subtitle {
  font-family: "NTR", sans-serif;
  color: var(--lightest-slate);
  text-align: left;
  letter-spacing: 0.02em;
  line-height: 2;
  font-size: 36px;
}

.intro-subtitle-name {
  font-family: "NTR", sans-serif;
  background: var(--anchor-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: 600;
}

.intro-desc {
  color: var(--lightest-slate);
  letter-spacing: 0.02em;
  line-height: 1.7;
  font-family: "NTR", sans-serif;
  font-size: 20px;
  text-align: left;
  max-width: 480px;
}

@media (max-width: 1400px) {
  .intro-section {
    flex-direction: column-reverse;
    padding-top: 60px;
    min-height: auto;
    overflow: visible;
  }
  
  .animated-robot-container {
    scale: 0.65;
    margin: 0 auto;
    height: auto; 
    min-height: 450px; 
  }
  .typist-content {
    justify-content: center;
    text-align: center;
  }

  .intro-subtitle {
    text-align: center;
    margin-bottom: 10px;
  }

  .intro-subtitle-name {
    color: var(--green-bright);
  }

  .intro-name {
    color: var(--green-bright);
    background: none;
  }

  .intro-desc {
    text-align: center;
    margin: 0 auto;
  }
  .intro-content {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  
  .intro-buttons {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .intro-section {
    padding-top: 0;
    overflow: visible;
  }

  .intro-content {
    width: 100%;
    padding-right: 0;
    margin-top: -70px;
  }

  .typist-content {
    justify-content: center;
    text-align: center;
    margin-bottom: 10px; 
    flex-wrap: wrap; 
  }
  
  .animated-robot-container {
    scale: 0.60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
  }
  
  .intro-animation {
    margin: 0 auto 20px auto;
    min-height: 350px;
    overflow: visible;
    margin-top: -50px;
  }

  .intro-title {
    font-size: 28px;
    font-weight: 600;
  }
  
  .intro-name {
    color: var(--green-bright);
    background: none;
    font-size: 28px;
  }

  .intro-subtitle {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .intro-subtitle-name {
    font-size: 18px;
  }

  .intro-desc {
    font-size: 17px;
    margin-top: 0;
    text-align: center;
  }
  
  .outline-button {
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  .windmill-cursor {
    top: 50% !important;
    transform: translate(-0%, -60%) !important;
    margin-left: 0 !important;
  }
  
  .windmill-cursor svg {
    width: 90% !important;
    height: 90% !important;
  }
}