#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  min-height: 70vh;
}

.Typist {
  color: var(--off-white);
  text-align: center;
  font-size: 66px;
  margin-top: -30px;
}
.Typist .Cursor--blinking {
  color: var(--green-bright);
  padding-left: 4px;
}


.intro-title {
  color: var(--off-white);
  font-family: "NTR", sans-serif;
  font-weight: 200;
  font-size: 66px;
}
.intro-name {
  font-family: "NTR", sans-serif;
  color: var(--green-bright);
  font-weight: bold;
  font-size: 72px;
}

.intro-subtitle {
  font-family: "NTR", sans-serif;
  color: var(--off-white);
  text-align: center;
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 36px;
}

.intro-subtitle-name {
  font-family: "NTR", sans-serif;
  color: var(--green-bright);
  font-size: 36px;
}

.intro-desc {
  color: var(--off-white);
  margin-top: -30px;
  font-family: "NTR", sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 800px;
}

@media only screen and (max-width: 600px) {
  #intro {
    align-items: center;
    margin-top: 65px;
  }

  .intro-title {
    font-size: 32px;
    font-weight: 600;
  }
  .intro-name {
    font-size: 32px;
  }

  .Typist {
    font-size: 32px;
  }

  .intro-subtitle {
    font-size: 20px;
    margin-top: 0px;  
  }
  .intro-subtitle-name {
  color: var(--green-bright);
  font-size: 20px;
}


  .intro-desc {
    font-size: 16px;
    max-width: unset;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 2000px) {
  #intro {
    margin-top: 300px;
  }
}