#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  padding-top: 200px;
  min-height: 100vh;
}

.Typist {
  color: var(--off-white);
  text-align: center;
  font-size: 45px;
  margin-top: -30px;
}
.Typist .Cursor--blinking {
  color: var(--green-bright);
  padding-left: 4px;
}

.intro-title {
  font-family: General_sans, sans-serif;
  font-size: 60px;
}
.intro-name {
  font-family: General_sans, sans-serif;
  color: var(--green-bright);
  font-weight: bold;
  font-size: 60px;
}

.intro-subtitle {
  font-family: General_sans, sans-serif;
  color: var(--slate);
  text-align: center;
  font-weight: 300;
  font-size: 32px;
}

.intro-desc {
  color: var(--slate);
  margin-top: 10px;
  font-family: General_sans, sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 800px;
  padding-bottom: 50px;
}

.intro-contact {
  font-size: 18px;
  font-weight: bolder;
  font-family: General_Sans, sans-serif;
  align-self: center;
  padding: 15px 30px;
  cursor: pointer;
  border: 1px solid var(--green-bright);
  border-radius: 4px;
}

.intro-contact:hover {
  background-color: var(--lightest-navy);
}

b {
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  #intro {
    min-height: unset;
    padding-left: unset;
    padding-top: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 32px;
    font-weight: 600;
  }
  .intro-name {
    font-size: 32px;
  }

  .Typist {
    font-size: 32px;
  }

  .intro-subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .intro-desc {
    font-size: 15px;
    max-width: unset;
    padding-bottom: 30px;
  }
}
