.navbar {
    background: rgba(22, 2, 34, 0.1);
    box-shadow: 0 1px 6px rgb(24, 24, 32);
    font-family: "NTR", sans-serif;
    font-weight: 600;
    padding: 10px 60px !important;
    line-height: 2;
    font-size: 1.1rem;
    backdrop-filter: blur(24px);
  }
  

.navbar-animated {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.24);
  transition: var(--transition);
}

.navbar-at-top {
  box-shadow: none !important;
  padding: 20px 60px !important;
}
.navbar-animated.navbar-hidden {
  transform: translateY(-100%);
}
.navbar-animated.navbar-visible {
  transform: translateY(0);
}

.navbar-brand  {
    color: var(--off-white) !important;
    width: 100%;
  }

.navbar-nav .nav-link {
    color: var(--off-white) !important;
    margin-right: 30px;;
  }

.navbar-nav .nav-link:hover {
    color: var(--green-bright) !important;
    filter: drop-shadow(0 3px 4px rgba(0, 255, 85, 0.5));
    scale:1.1;
    transition: var(--transition);
  }

.logo {
    display: flex;
    align-items: center;
}

.logo:hover,
.logo:focus {
  scale:1.1;
  filter: drop-shadow(0 3px 4px rgba(0, 255, 85, 0.5));
  transition: var(--transition);
}

@media (max-width: 1200px) {
  .navbar {
      margin-left: 0px;
      padding: 10px 30px !important;
      background: rgba(22, 2, 34, 0.1);
      box-shadow: 0 1px 6px rgb(24, 24, 32);
    }
  .navbar-at-top {
  box-shadow: none !important;
  padding: 20px 30px !important;
}
  .navbar-nav .nav-link {
      color: var(--off-white) !important;
      margin: 0 auto;
    }
  .logo .navbar-nav.me-auto {
      display: flex;
    }
}

@media only screen and (max-width: 600px) {
  .navbar {
      margin-left: 0px;
      padding: 10px 25px !important;
      background: rgba(22, 2, 34, 0.1);
      box-shadow: 0 1px 6px rgb(24, 24, 32);
    }
  .navbar-at-top {
  box-shadow: none !important;
  padding: 20px 25px !important;
}
  .navbar-nav .nav-link {
      color: var(--off-white) !important;
      margin: 0 auto;
    }
  .logo .navbar-nav.me-auto {
      display: flex;
    }
}

