.navbar {
  background-color: var(--nav-color);
  font-family: "NTR", sans-serif;
  padding: 10px 60px !important;
  font-size: 18px;
  backdrop-filter: blur(10px);
  z-index: 2000;
  position: fixed;
}

.navbar-animated {
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.navbar-at-top {
  box-shadow: none !important;
  padding: 20px 60px !important;
}

.navbar-animated.navbar-hidden {
  transform: translateY(-100%);
}
.navbar-animated.navbar-visible {
  transform: translateY(0);
}

.navbar-brand {
  color: var(--lightest-slate) !important;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--lightest-slate) !important;
  margin-right: 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  background: none;
  transition: var(--transition);
}

.navbar-nav .nav-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--green-bright);
  transition: var(--transition);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: var(--green-bright) !important;
  filter: var(--drop-shadow);
  scale: 1.1;
  transition: var(--transition);
}

.navbar-nav .nav-link:hover:after,
.navbar-nav .nav-link:focus:after {
  width: 100%;
  left: 0;
}

.navbar-star-btn {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0px -10px;
}

.logo:hover,
.logo:focus {
  scale: 1.1;
  filter: var(--drop-shadow);
  transition: var(--transition);
}

@media (max-width: 1200px) {
  .navbar {
    margin-left: 0px;
  }
  .navbar-nav .nav-link {
    margin: 0 auto;
  }
  .navbar-nav.me-auto {
    display: flex;
  }
  .logo {
    margin: 0px -30px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px 20px !important;
    align-items: center;
    justify-content: center;
  }
  .navbar-at-top {
    box-shadow: none !important;
    padding: 15px 20px !important;
    align-items: center;
    justify-content: center;
  }
  .navbar-nav .nav-link {
    font-size: 13px;
    color: var(--lightest-slate) !important;
  }
  .navbar-nav.me-auto {
    display: flex;
  }
  .logo {
    margin: 0;
  }
  .navbar-star-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin: 0 5px 0 0;
    color: var(--lightest-slate) !important;
    font-size: 0.9rem;
  }

  .navbar-star-btn:hover {
    color: var(--green-bright) !important;
    filter: var(--drop-shadow);
    scale: 1.1;
    transition: var(--transition);
  }
  .navbar-star-divider:before {
    content: "";
    width: 1.5px;
    height: 20px;
    background-color: var(--green-bright);
    filter: var(--drop-shadow);
    display: flex;
    margin: 10px 10px;
    border-radius: 2px;
  }
}